body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}
h1{
    margin-bottom: 0.5rem;
}
select{
    margin-left: .5rem;
}
.equals{
    font-weight: bold;
    font-size: 2rem;
}